<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.postnow.customer</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>sk</string>
		<string>bs</string>
		<string>hr</string>
		<string>sr</string>
		<string>ro</string>
		<string>tr</string>
		<string>de</string>
		<string>en</string>
		<string>hu</string>
	</array>
	<key>CFBundleName</key>
	<string>Post Now</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.postnow.customer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mollie-app</string>
				<string>com.googleusercontent.apps.303896015523-7eambfls09dt273ilm90nm3m82k62dk5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.postnow.customer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.326661005975-cdadju9raan1ciq9ketsgfk6dctfi37v</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-beta</string>
		<string>itms</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app needs access to Media Library to provide the best possible user experience</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs access to calender to provide the best possible user experience</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs to access the camera to send photos while chatting.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs access to contact to provide the best possible user experience</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to location when open and in the background.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs to access location to improve user experience.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs to access location to improve user experience.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app needs access to Motion to provide the best possible user experience</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to Photo Library to provide the best possible user experience</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app needs access to Speech Recognize to provide the best possible user experience</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
